.section3 {
    display: flex;
    margin-bottom: 94px;
    height: 804px;
    width: 1280px;
}

.section3 {
    display: flex;
    margin-bottom: 94px;
    height: 7400px;
    width: 1280px;

}

.section3 {
    display: flex;
    margin-bottom: 94px;
    height: 500px;
    width: 1280px;

}

